 <h1> GITHUB-SEARCH APP</h1>
<hr>
<div class="row">
  <div class ="col-md-12">
<form action="">
  <div class="form-group">
    <input type="text" class="form-control"placeholder="Github Username"[(ngModel)]="username" name="username"(keyup)=findProfile()>
  </div>
</form>
</div>
</div>
<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel panel-heading">
     <h2 class="panel-title"> {{profile.name}}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{profile.avatar_url}}"  class="img-circle img-responsive" alt="profile image" >
        </div>
        <div class="col-md-4">
          <ul class="group">
            <li class=" list-group-item"*ngIf="profile.bio">{{profile.bio}}</li>
            <li class=" list-group-item"*ngIf="profile.hireable">Available for hire</li>
            <li class=" list-group-item"*ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li>
            <li class=" list-group-item"*ngIf="profile.email"><a href="{{profile.email}}" target="_blank">{{profile.email}}</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="clean">
            <span class="label label-default">{{profile.followers}} Followers</span>
            <span class="label label-primary">{{profile.following}} Following</span>
            <span class="label label-success">{{profile.public_gists}} Public Gists</span>
            <span class="label label-infor">{{profile.public_repos}} Public Repos</span>
            <p><a href="profile.html_url" target="_blank" class="btn btn-success btn -sm">View the profile on github</a></p>
            <div class=" panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"> Repos</h2>
              </div>
              <div class=" panel-body"*ngFor="let repo of repos">
                <p>
                  {{repo.name}}<a href="{{repo.html_url}}"target="_blank"class="btn btn-warning btn-sm">view the project</a>
                </p>
                <p>{{repo.description}}</p>

              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
